<br>
Create New Category:
<br>
<br>
<form action = "/categories" method="post">
    New Category Name: <textarea name = "new_category[name]"></textarea>
    <br>
   <input type = "submit" value = "Save">
</form>